/************************ CUSTOM STYLESHEET ************************/


/***** General CSS *****/

* {
    outline: none!important;
}

body {
    word-break: break-word;
    color: #333333;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #ec1d25;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #333333;
}

a:hover {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}

img {
    max-width: 100%;
}

input[type="text"]:focus,
textarea:focus,
input[type="password"]:focus,
select:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    outline: none;
}

select,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
textarea,
input[type="tel"] {
    /*-webkit-appearance: none;-moz-appearance: none;appearance: none;*/
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


/***** Font Files *****/

@font-face {
    font-family: 'Fonts Awesome';
    src: url(../fonts/fontawesome-webfont.eot);
    src: url(../fonts/fontawesome-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/fontawesome-webfont.woff) format("woff"), url(../fonts/fontawesome-webfont.ttf) format("truetype"), url(../fonts/fontawesome-webfont.svg#fontawesome-webfont) format("svg");
    font-weight: 400;
    font-style: normal
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.submitbtnsave {
    background-color: #244cbf;
    color: white;
    height: 43px;
    width: 133px;
    margin: 10px;
    border-radius: 12px;
}


/***** Buttons, Headings, Paragraph, Flex CSS *****/

.webBtn {
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 500;
    padding: 15px;
    background: #e60e0e;
    color: #fff!important;
    border: 2px solid #e60e0e;
    text-transform: uppercase;
    display: inline-block;
    width: max-content;
    border-radius: 6px;
}

.webBtn:hover {
    border: 2px dashed #e60e0e;
    color: #e60e0e!important;
    transition: 1s all;
    background: transparent;
}

.btn {
    border-radius: 5px;
    margin: 10px 10px 10px 0;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    padding: 25px 40px;
    font-weight: 400;
    text-shadow: none;
    border: none;
}

.btn-red {
    background-color: #ec1d25;
    color: #fff;
}

.btn-red:hover,
.btn-red:focus {
    background-color: #000;
    color: #ec1d25;
}

.centerCol {
    float: none;
    margin: 0 auto;
}

.flexRow {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.flexCol {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    align-items: center;
}

.rowReverse {
    flex-direction: row-reverse;
}

.noLeft {
    padding-left: 0;
}

.noRight {
    padding-right: 0;
}

.noPadding {
    padding: 0;
}

.allPadding {
    padding: 5% 0;
}

.formHead {
    text-align: center;
    margin-bottom: 20px;
}

.formHead h2 {
    color: #000;
    margin-bottom: 10px;
    font-size: 40px;
}

.formHead h6 {
    font-size: 20px;
    line-height: 25px;
}

.formTable {
    border: 1px solid #000;
    border-left: none;
}

.formTable .heading {
    padding: 15px;
    border: 2px solid #000;
    border-top: none;
    border-bottom: none;
}

.formTable .heading h4 {
    font-size: 18px;
    color: #000;
}

.formTable .putData input {
    width: 100%;
    height: 48px;
    border: none;
    font-size: 16px;
}

.formTable .row {
    padding: 0;
    margin: 0;
    border: 1px solid #000;
    border-left: none;
}

.midSecForm {
    margin: 50px 0;
}

.formRadioBtn {
    border: 2px solid #000;
    border-bottom: none;
    border-right: none;
}

.formRadioBtn .row {
    border-bottom: 2px solid #000;
    margin: -2px -1px;
}

.formRadioBtn .radioBtn {
    position: relative;
    padding: 15px;
    border-right: 2px solid #000;
}

.formRadioBtn .radioBtn label {
    font-size: 20px;
    color: #000;
    margin-bottom: 0;
    font-weight: 500;
    font-family: 'Poppins';
}

.formRadioBtn .radioBtn input {
    position: absolute;
    top: 23px;
    right: 15px;
    margin: 0;
}

.checkboxes {
    text-align: center;
}

.checkboxes li {
    position: relative;
    padding-left: 30px;
    margin: 0 10px;
}

.checkboxes li input {
    position: absolute;
    top: 3px;
    left: 0;
    width: 20px!important;
    height: 20px!important;
    margin: 0;
}

.checkboxes li label {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.dischargeSec .row {
    margin: 20px 0;
}

.dischargeSec h6 {
    font-size: 20px;
    color: #000;
    text-decoration: underline;
    margin-bottom: 20px;
}

.dischargeSec .checkboxes {
    text-align: left;
}

.dischargeSec .checkboxes li input {
    top: 7px;
    width: 15px!important;
    height: 15px!important;
}

.dischargeSec .checkboxes li:nth-child(2) {
    padding: 0;
    margin-bottom: 20px;
}

.dischargeSec .checkboxes li:nth-child(9) {
    padding: 0;
    margin-bottom: 20px;
}

.dischargeSec .checkboxes .putData input[type="text"] {
    position: relative;
    width: 100%!important;
    height: 25px!important;
    border: none;
    border-bottom: 1px solid #000;
}

.transferSec h6 {
    font-size: 20px;
    color: #000;
    text-decoration: underline;
    margin-bottom: 10px;
}

.transferSec p {
    font-size: 16px;
    color: #000;
    margin-bottom: 20px;
}

.transferSec ul {
    text-align: left;
}

.signSec {
    margin: 50px 0 0 0;
}

.signSec .heading h4 {
    font-size: 18px;
    color: #000;
    position: relative;
    top: 7px;
}

.signSec .putData input {
    width: 100%;
    height: auto;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 16px;
}

.additionSec {
    margin-top: 30px;
}

.additionSec h4 {
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
}

.additionSec textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    resize: none;
}

.followTopSec h4 {
    color: #000;
    font-size: 22px;
}

.dateData .heading h4 {
    color: #000;
    font-size: 16px;
    position: relative;
    top: 5px;
}

.plan {
    margin: 0 0 0 2px;
}

.followTopSec input,
.followTable input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
}

.followUpTable {
    border: 2px solid #000;
    margin-top: 30px;
    border-bottom: none;
}

.followTableHead {
    text-align: center;
}

.followUpTable .row {
    margin: 0;
    border-bottom: 2px solid #000;
}

.col {
    border-right: 2px solid #000;
}

.followTableHead .heading {
    padding: 10px 0;
}

.followTableHead .heading h4 {
    color: #000;
    font-weight: 700;
}

.followUpTable .followTableHead .col-md-6 {
    padding: 0;
}

.followUpTable .col-md-6 {
    border: 2px solid #000;
    border-top: 0;
    border-bottom: 0;
    padding: 5px 10px 25px 15px;
}

.dateData {
    position: relative;
    padding: 0 5px;
}

.dateData:after {
    position: absolute;
    top: -40px;
    right: 0;
    width: 2px;
    height: 225%;
    background: #000;
    content: "";
}

.dateData .heading {
    width: 30%;
}

.dateData .putData {
    width: 70%;
    float: right;
}

.dcrHr {
    margin: 0 0 0 5px;
}

.discussionSec {
    margin-top: 50px;
}

.discussionSec h4 {
    color: #000;
    margin-bottom: 30px;
}

.discussionSec h4 b {
    border-bottom: 2px solid #000;
}

.discussionSec ul {
    text-align: left;
    border: 2px solid #000;
    padding: 20px 0 0 0;
}

.discussionSec .checkboxes li {
    margin: 0 10px 20px;
    width: 40%;
}

.servicesSec .checkboxes li {
    width: 17%;
}

.icwpservicesSec .checkboxes li {
    width: 30%;
}

.kinSec {
    margin: 50px 0;
}

.kinSecCntnt {
    border: 2px solid #000;
    padding: 20px;
}

.kinSec h4 {
    margin-bottom: 30px;
}

.kinSec .heading h4 {
    margin: 0;
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.kinSec h4 b {
    color: #000;
    margin-bottom: 30px;
    text-decoration: underline;
}

.kinSec .row {
    padding: 0 15px;
}

.kinSec .putData input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
}

.reviewdSecCntnt {
    border: 2px solid #000;
    padding: 30px 30px 0 30px;
}

.reviewdSec h4 {
    margin-bottom: 15px;
    color: #000;
}

.reviewdCntnt {
    margin-bottom: 30px;
}

.reviewdCntnt ul {
    text-align: left;
}

.monthlyFrom .checkboxes {
    text-align: left;
    padding: 0 15px;
}

.monthlyFrom .heading.services {
    border-right: none;
}

.monthlyFrom .monthly,
.monthlyFrom .mealList {
    border-left: 2px solid #000;
    margin: 0;
}

.monthlyFrom .monthly li,
.monthlyFrom .mealList li {
    margin: 5px 0;
    width: 33%;
}

.bowel h4 {
    padding: 10px 0;
}

.monthlyFrom .summary {
    padding: 10px 15px 80px;
}

.monthlyFrom textarea {
    width: 100%;
    border: none;
    resize: none;
}

.pages {
    margin: 50px 0 0 0;
}

.pages ul {
    text-align: right;
}

.pages ul li a {
    font-size: 20px;
    background: #000;
    padding: 10px 50px;
    display: inline-block;
    color: #fff;
    border-radius: 10px;
}

.newCareForm .formHead {
    padding: 0 0 40px;
    margin: 0;
}

.newCareForm .formHead h2 {
    margin-bottom: 20px;
}

.newCareForm .formHead h4 {
    color: #000;
    font-size: 19px;
}

.newCareForm .formHead input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
}

.newCareForm .newCareHeader {
    border: 2px solid #000;
}

.newCareForm .newCareHeader h4 {
    font-size: 18px;
    color: #000;
    height: 60px;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #000;
    padding: 0 0 0 25px;
    font-weight: 700;
}

.newCareForm .newCareHeader .col-md-3:last-child h4 {
    border: none;
}

.newCareForm .newCareHeader ul {
    padding: 0px 0px 0px 20px;
}

.newCareHeader li {
    position: relative;
    padding: 0 0 13px 40px;
    margin-bottom: 15px;
    display: block;
    border-bottom: 2px solid #000;
}

.newCareHeader li:last-child {
    margin: 0;
    border-bottom: none;
}

.newCareHeader li input {
    position: absolute;
    top: 4px;
    left: 10px;
    width: 20px!important;
    height: 20px!important;
    margin: 0;
}

.newCareHeader li label {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.newCareMain {
    margin-bottom: 30px;
}

.newCareMain h4 {
    font-size: 20px;
    color: #000;
    font-weight: 700;
    border-bottom: 1px solid #000;
    width: max-content;
    margin-bottom: 20px;
}

.newCareMain .row {
    margin: 0;
}

.newCareMain .checkboxes {
    text-align: left;
    border: 2px solid #000;
}

.newCareMain .checkboxes li {
    margin: 5px 10px;
    width: 100%;
}

table th {
    color: #000;
    font-size: 18px;
}

tbody td {
    color: #000;
    font-size: 16px;
}

table td input {
    width: 100%;
    border: none;
}

table td input::placeholder {
    color: #000;
}

.table-bordered {
    border: 2px solid #000;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border: 2px solid #000;
    vertical-align: middle;
}

td.grandTotal h6 {
    text-align: right;
    color: #000;
    font-size: 20px;
    font-weight: 700;
}

.refSheetSec p {
    text-align: center;
    color: #000;
    margin-bottom: 15px;
    font-size: 15px;
}

.refCntnt .row {
    margin-bottom: 30px;
}

.refCntnt .col-md-6 {
    margin-bottom: 10px;
}

.refCntnt h4 {
    color: #000;
    font-size: 17px;
    text-align: right;
    position: relative;
    top: 5px;
}

.refCntnt h6 {
    color: #000;
    font-size: 15px;
    text-align: right;
    position: relative;
    top: 7px;
    font-style: italic;
}

.refCntnt input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
}

.behavior h4 {
    color: #000;
    font-size: 19px;
    text-align: right;
    margin-bottom: 5px;
}

.behavior h6 {
    color: #000;
    font-size: 15px;
    text-align: right;
    font-style: italic;
}

.behavior ul {
    text-align: left;
}

.noteSec {
    margin-top: 30px;
}

.noteSec h4 {
    font-size: 19px;
    color: #000;
    margin-bottom: 20px;
    text-decoration: underline;
    font-weight: 700;
    font-style: italic;
}

.appFHead {
    position: relative;
    border-bottom: 2px solid #000;
}

.appFHead:after {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    background: #000;
    height: 100%;
    width: 2px;
}

.appenHead .head {
    margin-bottom: 20px;
}

.appenHead .head h4 {
    color: #000;
    font-size: 18px;
    margin-bottom: 5px;
}

.appenHead .head input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
}

.appenHead .head h6 {
    color: #000;
    font-size: 14px;
    margin-top: 5px;
    font-style: italic;
}

.appFMain h2 {
    color: #000;
    font-size: 26px;
    font-style: italic;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin: 2px 0;
    position: relative;
}

.appFMain h2:after {
    position: absolute;
    bottom: -6px;
    left: 0;
    background: #000;
    width: 100%;
    height: 2px;
    content: "";
}

.appFMain .row {
    margin: 15px -15px;
}

.appFMain .heading p {
    color: #000;
    font-size: 20px;
}

.appFMain .putData input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
}

.heading ul li {
    display: block;
    margin-bottom: 10px;
}

.heading ul {
    text-align: left;
    margin: 10px 0;
}

.appFMain h6 {
    color: #000;
    font-size: 14px;
    margin-top: 5px;
    font-style: italic;
}

.appFMain hr {
    border-top: 2px solid #000;
    margin: 50px 0;
}

.withdrawSec p {
    text-align: center;
    font-size: 20px;
    color: #000;
    margin-bottom: 30px;
}

.sigSheetSec .row {
    margin-bottom: 30px;
}

.sigSheetSec .heading h4 {
    color: #000;
    font-size: 20px;
    margin-bottom: 5px;
}

.sigSheetSec .putData input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
}

.sigSheetSec p {
    font-size: 17px;
    color: #000;
    margin-bottom: 30px;
}

.sigSheetSec h6 {
    font-size: 15px;
    color: #000;
}

.appenCHead {
    margin-bottom: 30px;
}

.appenCHead .heading h4 {
    color: #000;
    font-size: 24px;
    margin-bottom: 5px;
}

.appenCHead .putData input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
}

.appenCMain h6 {
    color: #000;
    font-size: 24px;
    border-bottom: 2px solid #000;
    width: max-content;
    margin-bottom: 20px;
}

.appenCMain p {
    color: #000;
    font-size: 17px;
    margin-bottom: 20px;
    line-height: 30px;
}

.appenCMain ul {
    list-style: decimal;
    padding-left: 40px;
}

.appenCMain ul li {
    color: #000;
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 30px;
}

.furtherList {
    list-style: disc!important;
    padding-left: 10px!important;
}

.morefurtherList {
    list-style: circle !important;
    padding-left: 10px!important;
}

.appenCMain .heading h4 {
    color: #000;
    font-size: 18px;
    margin-bottom: 5px;
}

.appenCMain .putData input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
}

.appenCMainCntnt .row {
    margin-bottom: 20px;
}

.appenCMainCntnt h5 {
    font-size: 16px;
    margin-top: 10px;
    color: #000;
}

.appenCMainCntnt .checkboxes {
    text-align: left;
    padding: 0;
}

.appenCMainCntnt textarea {
    width: 100%;
    padding: 10px;
    resize: none;
    border: 2px solid #000;
}

.chkBxsList {
    margin-bottom: 30px;
}

.chkBxsList h4 {
    font-size: 19px;
    color: #000;
    margin-bottom: 10px;
}

.chkBxsList ul {
    text-align: left;
    padding: 10px 10px 5px;
    border: 2px solid #000;
}

.chkBxsList ul li {
    margin: 10px 5px;
}

.chkBxsList.functional li {
    display: block;
}

.chkBxsList.significant li {
    width: 32%;
}

.appenCMain textarea {
    width: 100%;
    padding: 10px;
    resize: none;
    border: 2px solid #000;
}

.statusSec .row {
    margin-bottom: 20px;
}

.statusSec .checkboxes {
    text-align: right;
    padding: 0;
}

.statusSec .checkboxes li {
    margin: 0;
}

.incontinenceSec {
    margin-bottom: 30px;
}

.incontinenceSec .checkboxes {
    text-align: left;
    padding: 10px 15px 5px;
}

.incontinenceSec .checkboxes li {
    width: 33%;
    margin-bottom: 5px;
}

.saftySec {
    padding-bottom: 30px;
}

.difficultySec ul {
    padding: 15px 15px 10px!important;
}

.difficultySec ul li {
    display: block;
    width: 100%;
    text-align: left;
}

.socialFun {
    padding: 30px 0 0 0;
}

.socialFun .chkBxsList {
    margin: 0;
}

.socialFun ul li {
    width: 49%!important;
}

.isolation {
    padding-bottom: 30px;
}

.isolation ul li {
    width: 24%!important;
}

.informalTop {
    margin-bottom: 30px;
}

.informalTop p {
    font-size: 19px;
    margin-bottom: 10px;
    color: #000;
    font-weight: 500;
}

.informal ul {
    padding: 15px!important;
}

.informal ul li {
    display: block;
    text-align: left;
}

.resList ul {
    text-align: left!important;
    padding: 0!important;
}

.resList ul li {
    width: 45%;
    margin-bottom: 10px!important;
}

.appenCMain .row h6 {
    color: #000;
    font-size: 14px;
    margin-top: 5px;
    font-style: italic;
    border: none!important;
}