/***** Media Queries*****/
@media only screen and (min-width: 967px) and (max-width: 1200px){}
@media only screen and (min-width: 768px) and (max-width: 966px){}
@media only screen and (min-width: 480px) and (max-width: 767px){}
@media only screen and (min-width: 300px) and (max-width: 479px){
.flexRow{display: block;}
.formHead h2 {font-size: 25px;}
.formHead h6 {font-size: 14px;}
.formTable {border: 2px solid #000;border-bottom: none;}
.formTable .row {border: none!important;}
.formTable .heading {border: none;border-bottom: 2px solid #000!important;}
.formTable .putData {border-bottom: 2px solid #000;}
.formRadioBtn .row {border: none;}
.formRadioBtn .radioBtn {border-bottom: 2px solid #000;}
}